body {
    background: #17C5D8;
    color: #000000;
}
#menu li { display: inline; }
#komunikaty {
    width: 80%;
    margin: 2em;
    border : 2px solid green;
    border-radius:5px;
    background-color: lightgrey;
}
span.blad {color: red;}
span.sukces {color: green;}
span.komunikatys {color: blue;}
