{% extends "szablon.html" %}
{% block tytul %} Quiz – Pytania {% endblock %}
{% block h1 %} Lista pytań{% endblock %}
{% block tresc %} 

    <h2>Rozwiąż QUIZ</h2>

    <form method = "POST">
    <ol>
    {% for p in query %}
        <!-- wypisujemy id i treść pytania -->
        <li>{{ p.pytanie }}
        
        <ol class="alfabet">
        {% for o in p.odpowiedzi %}
            <li>
                <input type = "radio" value = "{{o.id}}"name = "{{p.id}}"> 
                {{ o.odpowiedz }}
            </li>
        {% endfor %}
        </ol>
        </li>
        
    {% endfor %}
    </ol>

    <div style="text-align: center; color: red">Wynik: {{wynik}}</div>
    
    <input type = "submit" value = "Zapisz">
    </form>
{% endblock %}
